body{
    background: #34205a;
    color: aliceblue;
    font-size: 80px;
}   
.title{
    display: block;
    position: fixed;
    left: 730px;
    top: 45px;

}
/* .title__main{
    display: block;
    width: 600px;
    height: 60px;
} */
.title__main::before {
    content: '';
    display: block;
    width: 100PX;
    height: 100PX;
    background-color: #dd56c0;
    border-radius:50px ;
    position: fixed;
    left: 598px;
    top: 45px;

    
}
.title__main::after {
    content: '';
    display: block;
    width: 100PX;
    height: 100PX;
    background-color: #3d369a;
    border-radius:50px ;
    position: fixed;
    left: 1113px;
    top: 45px;

}