body{
    background: #34205a;
    color: aliceblue;
    font-size: 80px;
}   
.title{
    display: block;
    position: relative;
    left: 730px;
    top: 45px;
}

.title__main::before {
    content: '';
    display: block;
    width: 100PX;
    height: 100PX;
    background-color: #dd56c0;
    border-radius:50px ;
    position: absolute;
    right: 1943px;
    bottom: -8px;

}
.title__main::after {
    content: '';
    display: block;
    width: 100PX;
    height: 100PX;
    background-color: #3d369a;
    border-radius:50px ;
    position: absolute;
    right: 1453px;
    bottom: -8px;
}